nav ul{
    margin:0;
    padding:0;
    display:flex;
}
nav li{
    list-style-type:none;
    width:33.3%;
    text-align:center;
}
nav a{
    display:block;
    color:white;
    padding:20px 30px;
    text-transform:uppercase;
    text-decoration:none;
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.menuInfo:hover{
    border-top:5px solid #4c8;
    background-color:rgba(64, 200, 130, 0.25);
}
.menuExperience:hover{
    border-top:5px solid rgb(74, 179, 3);
    background-color:rgb(255, 0, 170);
}
.menuContact:hover{
    border-top:5px solid rgb(255, 0, 4);
    background-color:rgba(53, 23, 134, 0.993);
}
