body {
    font-family: Berlin Sans FN, 'Trebuchet MS', 'Arial';
    border: 1px solid #283645;
}
.size40 {
    font-size: 40px;
}
.colorBlueDark {
    color: #283645;
}
.colorBlueLight {
    color: #1490D7;
}
.colorOrange {
    color: #FF8000;
}
.colorWhite {
    color: white;
}
.text-center {
    text-align: center;
}
.bg-color-Blue3 {
    background-color: #424580;
}
h2 {
    padding: 0px;
    margin: 30px 0px;
    border-bottom: 2px solid #283645;
    font-weight: bold;
}

/* Styles pour les titres spécifiques */
.bold-titles {
    font-weight: bold;
}

/*********
** Header 
***********/
.header {
    display: flex;
    align-items: center;
    text-align: center;
}
.header .photoPerso, .header .infoPerso {
    width: 33.3%;
}
.header .photoPerso img {
    height: 200px;
}
.header .posteRecherche {
    flex: auto;
}
/*********
** FIN Header 
***********/

/*********
** Footer 
***********/
.footer {
    text-align: center;
    color: white;
    background-color: #424580;
    padding: 10px 0;
}
nav {
    background-color: #424580;
}
/*********
** Fin Footer
***********/

/*********
** Corps 
***********/
.corps {
    padding: 0% 2%;
}
.domainecompetence table td, .domainecompetence table th{
    padding: 10px 20px;
    border : 1px solid #283645
}
/*********
** Fin Corps
***********/
@media (max-width: 768px){
    .size40{
        font-size:22px;
    }
    .size20{
        font-size:14px;
    }
    .header .photoPerso img{
        height:100px;
    }
    .col1{
        width:30%;
    }
    .col2{
        width:70%;
    }
}

@media (min-width: 769px) and (max-width:1300px){
    .col1{
        width:35%;
    }
    .col2{
        width:65%;
    }
}
label {
    display: block
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 20px;
}

.buttonContact {
margin-left: 25%;
width: 200px;
}